$color-white: #fff;
$color-white-1: #f2f2f2;
$color-white-2: #e6e6ff;

$color-black: #222222;

$color-light-blue: #A5C7F9;
$color-light-blue-1: #7FAFF6;
$color-light-blue-2: #88B5BF;
$color-light-blue-3: #0D89B0;
$color-blue: #0000cc;

$color-light-green: #B3F95A;
$color-light-green-1: #8AD191;

$color-text: $color-white;
$color-bg: $color-white;

//btn
$color-btn-bg: $color-light-blue;
$color-btn-text: $color-white